* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #F5F5F5;
    background-size: cover;
}

/* ----- MENU ----- */

header {
    position: relative;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.250);
}

li {
    list-style: none;
}

a {
    color: black;
    font-size: 1rem;
}

a:hover {
    color: brown;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;

}

.navbar .burger-icon {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.buttons {
    display: flex;
}

.action-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.links a.active {
    color: darkred;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.burger-menu .links a.active {
    color: darkred;
}

/* ---- BURGER MENU -----*/

.burger-menu {
    z-index: 10;
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.250);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger-menu.open {
    height: 200px;
}

.divider {
    height: 2px;
    background-color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.buttons-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.burger-menu .action-button {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Random Image --- */

.randomgame {
    background-color: white;
    border-radius: 10px;
    max-width: 60%;
    transform: translate(30%);
    margin-top: 2rem;
}

.randomname {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: brown;
}

.randomimage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    box-sizing: border-box;

}

.randomimage>img {
    width: 100%;
    max-height: 90%;
}

/* ----- BUTTON ----- */

.randomgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.randombutton {
    margin-bottom: 1rem;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
}

/* PAGINATION - COLLECTION PAGE */

.pages {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 3rem;

}

.pagination {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: none;
}

.pagination:hover {
    background-color: darkred;
    color: white;
    cursor: pointer;
}

.pagination.active {
    background-color: pink;

}


/* ----- RESPONSIVE ----- */

@media screen and (width <=780px) {
    header {
        background: rgba(0, 0, 0, 0.250);
    }

    .navbar .links,
    .navbar .action-button {
        display: none;
    }

    .navbar .burger-icon {
        display: block;
    }

    .burger-menu {
        display: block;

    }

}



@media (width <=500px) {
    .burger-menu {
        left: 2rem;
        width: unset;

    }

    .randomname {
        font-size: 1rem;
    }

}